.company-development {
    background-color: #f7f8fa;
    line-height: 1;
}

.company-development-box {
    width: 1180px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 100px;
}

.company-development-title {
    padding: 80px 0 0 0;
    font-size: 34px;
    text-align: center;
}

.company-development-body {
    overflow: hidden;
    padding: 20px 47px 0 37px;
    position: relative;
}

.company-development-body::before {}

.development-body-left {
    width: 354px;
    float: left;
}

.development-body-right {
    width: 354px;
    float: right;
    padding-top: 151px;
}

.development-item-box {
    height: 295px;
    width: 354px;
    position: relative;
}

.development-body-right .development-item-box:last-child {
    height: auto;
}

.development-item,
.development-item-right {
    width: 354px;
    background-color: #fff;
    padding: 30px 30px 26px 30px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: rotate(-50%);
    -moz-transform: rotate(-50%);
    -webkit-transform: rotate(-50%);
    -o-transform: rotate(-50%);
}

.development-body-left .development-item-box::before,
.development-body-right .development-item-box::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 2px;
    background-color: #ccc;
    z-index: 0;
}

.development-body-left .development-item-box::before {
    top: 50%;
    right: -200px;
}

.development-body-right .development-item-box::before {
    top: 50%;
    left: -200px;
}

.h3-title-box {
    overflow: hidden;
}

.h3-title-box img,
.h3-title {
    float: left;
}

.h3-title-box img {
    width: 20px;
    height: 24px;
}

.h3-title {
    font-size: 22px;
    color: #333;
    padding-left: 10px;
}

.development-item-p {
    padding-top: 26px;
    padding-left: 30px;
    font-size: 16px;
    color: #333;
    line-height: 1.4;
    position: relative;
}

.flow-img {
    position: absolute;
    top: 3px;
    right: -212px;
    z-index: 2;
}

.flow-img-right {
    position: absolute;
    top: 138px;
    left: -206px;
    z-index: 2;
}