* {
    margin: 0;
    padding: 0;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    height: 40px;
}
#color,
#colorText {
    height: 40px;
    width: 40px;
}
#text,
#text2 {
    padding-left: 10px;
    line-height: 40px;
}
#canvas,#colorText {
    border: 1px solid #000;
}
#selectedText,
#fileDiv {
    padding: 20px 0;
}
.layout{
    display: flex;
    justify-content: center;
    align-items: center;
}
#canvas{
    cursor:crosshair
}